apiVersion: stackgres.io/v1
kind: SGCluster
metadata:
  name: airflow-postgres
  namespace: ${namespace}
spec:
  instances: 1
  postgres:
    version: '13'
  pods:
    persistentVolume:
      size: '100Gi'
  sgInstanceProfile: 'size-l'
  configurations:
    sgPostgresConfig: 'airflowconfig'
    sgPoolingConfig: 'airflowpoolconfig'